<div *ngIf="loading" class="loading-overlay">
  <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Cargando...</span>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-sm-flex align-items-center justify-content-between">
        <h4 class="mb-sm-0">{{titulopant}}</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Inicio</a>
            </li>
            <li class="breadcrumb-item active">{{titulopant}}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row ">
            <div class="col-xxl-2 col-md-6">
              <div>
                <label for="cnv_numero" class="form-label">N° CONVOCATORIA</label>
                <div class="input-group input-group-sm">
                    <span class="input-group-text" id="basic-addon1">#</span>
                    <input type="text" class="form-control" placeholder="00000" id="cnv_numero" [(ngModel)]="cnv_numero" (keypress)="restrictNumeric($event)">
                </div>
              </div>
            </div>
            <div class="col-xxl-1 col-md-6">
              <div>
                <label for="cnv_fecini" class="form-label">DESDE</label>
                <input type="date" class="form-control form-control-sm" id="cnv_fecini" [(ngModel)]="cnv_fecini">
              </div>
            </div>
            <div class="col-xxl-1 col-md-6">
              <div>
                <label for="cnv_fecfin" class="form-label">HASTA</label>
                <input type="date" class="form-control form-control-sm" id="cnv_fecfin" [(ngModel)]="cnv_fecfin">
              </div>
            </div>
            <div class="col-xxl-2 col-md-6">
              <div>
                <label for="tic_id" class="form-label">Tipo de Convocatoria</label>
                <ng-select class="mayus" [(ngModel)]="tic_id">
                    <ng-option value="0">Seleccionar Tipo de Convocatoria</ng-option>
                    <ng-option *ngFor="let item of dataTipoConvocatoria" [value]="item.tic_id">{{item.tic_descri}}</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-xxl-2 col-md-6">
              <div>
                <label for="cnv_activo" class="form-label">Estado</label>
                <ng-select class="mayus" [(ngModel)]="cnv_activo">
                    <ng-option value="1">ACTIVO</ng-option>
                    <ng-option value="0">INACTIVO</ng-option>
                    <ng-option value="9">TODOS</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-xxl-3 col-md-6">
              <div class="card-header align-items-center d-flex" style="justify-content: end; padding-right: 0px;">
                <div class="d-flex gap-2">
                  <button type="button" class="btn btn-primary btn-outline-primary btn-sm text-white d-flex justify-content-center align-items-center gap-1" id="buscar" (click)="loadDataProceso()">
                    <i class="ri-search-line"></i> BUSCAR </button>
                  <button type="button" class="btn btn-warning btn-outline-warning btn-sm text-white d-flex justify-content-center align-items-center gap-1" (click)="ConvocatoriaIns()">
                    <i class="ri-add-circle-line"></i> NUEVO </button>
                  <button type="button" class="btn btn-success btn-sm text-white d-flex justify-content-center align-items-center gap-1" id="descargaExcel" (click)="descargaExcel()" [disabled]="!exportarHabilitado">
                    <i class="ri-file-excel-2-line"></i> EXPORTAR </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body p-0">
          <div class="table-responsive" id="tablaDataProceso">
            <table class="table align-middle table-nowrap mb-0" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col">N°</th>
                  <th class="cell-wrap">CONVOCATORIA</th>
                  <th class="col">TDR</th>
                  <th class="col">CRONOGRAMA</th>
                  <th class="col">ANEXO</th>
                  <th class="col">COMUNICADOS</th>
                  <th class="col">RESULTADOS</th>
                  <th scope="col">FECHA DE CONVOCATORIA</th>
                  <th scope="col">ESTADO</th>
                  <th scope="col">ACCIONES</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dataConvocatoria" style="text-align: center;">
                  <td>{{item.cnv_numero}}</td>
                  <td class="cell-wrap text-justify">{{item.cnv_descri}}</td>
                  <td class="cell-wrap"><button type="button" (click)="getIdButton('TDR', item)" class="btn btn-sm p-0 fs-20 btn-vertical-sm-hover" title="TERMINO DE REFERENCIA" id="vertical-hover"> <i class="ri-file-list-3-fill" style="color: #497c7e;"></i> 
                      <span *ngIf="item.cnv_filtdr !== null " class="position-absolute topbar-badge cartitem-badge fs-10 translate-middle badge rounded-pill bg-success">&nbsp;</span>
                    </button>
                  </td>
                  <td class="cell-wrap"><button type="button" (click)="getIdButton('CRO', item)" class="btn btn-sm p-0 fs-20 btn-vertical-sm-hover" title="CRONOGRAMA" id="vertical-hover"> <i class="ri-file-list-3-fill" style="color: #497c7e;"></i> 
                      <span *ngIf="item.cnv_filcro !== null " class="position-absolute topbar-badge cartitem-badge fs-10 translate-middle badge rounded-pill bg-success">&nbsp;</span>
                    </button>
                  </td>
                  <td class="cell-wrap"><button type="button" (click)="getIdButton('ANE', item)" class="btn btn-sm p-0 fs-20 btn-vertical-sm-hover" title="ANEXO" id="vertical-hover"> <i class="ri-file-list-3-fill" style="color: #497c7e;"></i> 
                      <span *ngIf="item.cnv_filanx !== null " class="position-absolute topbar-badge cartitem-badge fs-10 translate-middle badge rounded-pill bg-success">&nbsp;</span>
                    </button>
                  </td>
                  <td class="cell-wrap"><button type="button" (click)="getIdButton('COM', item)" class="btn btn-sm p-0 fs-20 btn-vertical-sm-hover" title="COMUNICADOS" id="vertical-hover"> <i class="ri-file-list-3-fill" style="color: #497c7e;"></i> 
                      <span *ngIf="item.cnv_filcom !== null " class="position-absolute topbar-badge cartitem-badge fs-10 translate-middle badge rounded-pill bg-success">&nbsp;</span>
                    </button>
                  </td>
                  <td class="cell-wrap"><button type="button" (click)="getIdButton('RES', item)" class="btn btn-sm p-0 fs-20 btn-vertical-sm-hover" title="RESULTADOS" id="vertical-hover"> <i class="ri-file-list-3-fill" style="color: #497c7e;"></i> 
                      <span *ngIf="item.cnv_filres !== null " class="position-absolute topbar-badge cartitem-badge fs-10 translate-middle badge rounded-pill bg-success">&nbsp;</span>
                    </button>
                  </td>
                  <td>{{item.cnv_feccnv}}</td>
                  <td>{{item.est_descri}}</td>
                  <td>
                    <div class="dropdown">
                        <button class="btn btn-soft-primary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ri-more-fill align-middle"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                          <li *ngIf="item.cnv_chkver"><a class="dropdown-item edit-item-btn" (click)="getIdButton(4, item)">VER</a></li>
                          <li *ngIf="item.cnv_chkedt"><a class="dropdown-item edit-item-btn" (click)="ConvocatoriaEdit(item.cnv_id)">EDITAR</a></li>
                          <li *ngIf="item.cnv_chkanu"><a class="dropdown-item edit-item-btn" (click)="getIdButton(3, item)">ANULAR</a></li>
                          <li *ngIf="item.cnv_chkasg"><a class="dropdown-item edit-item-btn" (click)="getIdButton(6, item)">ASIGNAR</a></li>
                          
                          <li *ngIf="item.cnv_chkpub == 1"><a class="dropdown-item edit-item-btn" (click)="getIdButton(15, item)">PUBLICAR</a></li>
                          <li *ngIf="item.cnv_chkpub == 2"><a class="dropdown-item edit-item-btn" (click)="getIdButton(15, item)">DESPUBLICAR</a></li>
                          
                          <li *ngIf="item.cnv_chktrz"><a class="dropdown-item edit-item-btn" (click)="getIdButton(11, item)">TRAZABILIDAD</a></li>
                          <li *ngIf="item.cnv_chkcer"><a class="dropdown-item edit-item-btn" (click)="getIdButton(10, item)">CERRAR</a></li>
                        </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #OpenModalConvocatoriaTDR>
  <app-modal-tdr [convocatoria]="selectedConvocatoria" (cancelClicked)="CerrarModalProceso()"></app-modal-tdr>
</ng-template>
<ng-template #OpenModalConvocatoriaCronograma>
  <app-modal-cronograma [convocatoria]="selectedConvocatoria" (cancelClicked)="CerrarModalProceso()"></app-modal-cronograma>
</ng-template>
<ng-template #OpenModalConvocatoriaAnexo>
  <app-modal-anexo [convocatoria]="selectedConvocatoria" (cancelClicked)="CerrarModalProceso()"></app-modal-anexo>
</ng-template>
<ng-template #OpenModalConvocatoriaComunicados>
  <app-modal-comunicados [convocatoria]="selectedConvocatoria" (cancelClicked)="CerrarModalProceso()"></app-modal-comunicados>
</ng-template>
<ng-template #OpenModalConvocatoriaResultados>
  <app-modal-resultados [convocatoria]="selectedConvocatoria" (cancelClicked)="CerrarModalProceso()"></app-modal-resultados>
</ng-template>
<ng-template #OpenModalVerConvocatoria>
  <app-modal-ver [convocatoria]="selectedConvocatoria" (cancelClicked)="CerrarModalProceso()"></app-modal-ver>
</ng-template>
<ng-template #OpenModalTrazabilidadConvocatoria>
  <app-modal-trazabilidad [convocatoria]="selectedConvocatoria" (cancelClicked)="CerrarModalProceso()"></app-modal-trazabilidad>
</ng-template>
<ng-template #OpenModalCerrarConvocatoria>
  <app-modal-cerrar [convocatoria]="selectedConvocatoria" (cancelClicked)="CerrarModalProceso()"></app-modal-cerrar>
</ng-template>
<ng-template #OpenModalAnularConvocatoria>
  <app-modal-anular [convocatoria]="selectedConvocatoria" (cancelClicked)="CerrarModalProceso()"></app-modal-anular>
</ng-template>